In [7]:
import streamlit as st
import pandas as pd
import altair as alt
import numpy as np

In [2]:
conn = st.connection("snowflake")

QUALIFIED_TABLE_NAME = "FROSTY_SAMPLE.CYBERSYN_FINANCIAL.FINANCIAL_ENTITY_ANNUAL_TIME_SERIES"

2024-04-01 08:24:53.609
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\DKSYSTEMS\anaconda3\envs\iceberg\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [3]:
df = conn.query(f"SELECT * FROM {QUALIFIED_TABLE_NAME}")

2024-04-01 08:24:54.980 No runtime found, using MemoryCacheStorageManager
2024-04-01 08:24:54.983 No runtime found, using MemoryCacheStorageManager

In [4]:
df

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
0,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total Assets,2017,1.308681e+09,USD,The sum of all assets owned by the institution...
1,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total deposits,2017,1.060142e+09,USD,The sum of all deposits including demand depos...
2,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,% Insured (Estimated),2017,3.549773e-01,Percent,Percent of deposits estimated to be insured. ...
3,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,All Real Estate Loans,2017,5.611290e+08,USD,"Loans secured primarily by real estate, whethe..."
4,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total Securities,2017,2.193290e+08,USD,Total securities: the sum of held-to-maturity ...
...,...,...,...,...,...,...,...,...
1043722,"MBank Denton County, National Association",Lewisville,TX,Total Assets,1984,7.090200e+07,USD,The sum of all assets owned by the institution...
1043723,"MBank Denton County, National Association",Lewisville,TX,Total deposits,1984,6.430700e+07,USD,The sum of all deposits including demand depos...
1043724,"MBank Denton County, National Association",Lewisville,TX,% Insured (Estimated),1984,0.000000e+00,Percent,Percent of deposits estimated to be insured. ...
1043725,"MBank Denton County, National Association",Lewisville,TX,All Real Estate Loans,1984,2.199500e+07,USD,"Loans secured primarily by real estate, whethe..."
1043726,"MBank Denton County, National Association",Lewisville,TX,Total Securities,1984,7.950000e+06,USD,Total securities: the sum of held-to-maturity ...

In [12]:
df_total = df[df['VARIABLE_NAME'].str.contains('Total Assets')]
df_total

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
0,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total Assets,2017,1.308681e+09,USD,The sum of all assets owned by the institution...
5,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total Assets,2018,1.380430e+09,USD,The sum of all assets owned by the institution...
10,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total Assets,2019,1.575250e+09,USD,The sum of all assets owned by the institution...
15,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,Total Assets,2020,1.958692e+09,USD,The sum of all assets owned by the institution...
20,"Affinity Bank, National Association",Covington,GA,Total Assets,1994,1.021200e+08,USD,The sum of all assets owned by the institution...
...,...,...,...,...,...,...,...,...
1043701,Clear Lake Bank and Trust Company,Clear Lake,IA,Total Assets,2022,5.483680e+08,USD,The sum of all assets owned by the institution...
1043706,Citizens Savings Bank and Trust Company,Nashville,TN,Total Assets,1990,3.408400e+07,USD,The sum of all assets owned by the institution...
1043712,Catalyst Bank,Opelousas,LA,Total Assets,2000,1.636900e+08,USD,The sum of all assets owned by the institution...
1043717,The Litchfield National Bank,Litchfield,IL,Total Assets,2013,8.327200e+07,USD,The sum of all assets owned by the institution...
1043722,"MBank Denton County, National Association",Lewisville,TX,Total Assets,1984,7.090200e+07,USD,The sum of all assets owned by the institution...

In [9]:
filtered_df_city = df_total[df_total['CITY'] == 'Miami'].sort_values(by=['YEAR'], axis=0)
filtered_df_city

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
867867,Orange State Bank,Miami,FL,Total Assets,1984,9.376000e+06,USD,The sum of all assets owned by the institution...
745074,AmeriFirst Federal Savings Bank,Miami,FL,Total Assets,1984,3.985690e+09,USD,The sum of all assets owned by the institution...
975025,Ocean Bank,Miami,FL,Total Assets,1984,2.504680e+08,USD,The sum of all assets owned by the institution...
30577,"Newtek Bank, National Association",Miami,FL,Total Assets,1984,7.580900e+07,USD,The sum of all assets owned by the institution...
595677,"Peoples National Bank of Commerce, Miami",Miami,FL,Total Assets,1984,1.772600e+07,USD,The sum of all assets owned by the institution...
...,...,...,...,...,...,...,...,...
298499,International Finance Bank,Miami,FL,Total Assets,2023,1.049917e+09,USD,The sum of all assets owned by the institution...
468664,Pacific National Bank,Miami,FL,Total Assets,2023,1.216080e+09,USD,The sum of all assets owned by the institution...
724825,The First National Bank and Trust Company of M...,Miami,OK,Total Assets,2023,2.145590e+08,USD,The sum of all assets owned by the institution...
814511,Banesco USA,Miami,FL,Total Assets,2023,3.808125e+09,USD,The sum of all assets owned by the institution...
794052,"Newtek Bank, National Association",Miami,FL,Total Assets,2023,6.608880e+08,USD,The sum of all assets owned by the institution...

In [14]:
df_Insured = df[df['VARIABLE_NAME'].str.contains('Insured')]
df_Insured

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
2,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,% Insured (Estimated),2017,0.354977,Percent,Percent of deposits estimated to be insured. ...
7,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,% Insured (Estimated),2018,0.567953,Percent,Percent of deposits estimated to be insured. ...
12,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,% Insured (Estimated),2019,0.588668,Percent,Percent of deposits estimated to be insured. ...
17,Cedar Rapids Bank and Trust Company,Cedar Rapids,IA,% Insured (Estimated),2020,0.492912,Percent,Percent of deposits estimated to be insured. ...
22,"Affinity Bank, National Association",Covington,GA,% Insured (Estimated),1994,0.000000,Percent,Percent of deposits estimated to be insured. ...
...,...,...,...,...,...,...,...,...
1043703,Clear Lake Bank and Trust Company,Clear Lake,IA,% Insured (Estimated),2022,0.713342,Percent,Percent of deposits estimated to be insured. ...
1043708,Citizens Savings Bank and Trust Company,Nashville,TN,% Insured (Estimated),1990,0.000000,Percent,Percent of deposits estimated to be insured. ...
1043714,Catalyst Bank,Opelousas,LA,% Insured (Estimated),2000,0.000000,Percent,Percent of deposits estimated to be insured. ...
1043719,The Litchfield National Bank,Litchfield,IL,% Insured (Estimated),2013,0.893829,Percent,Percent of deposits estimated to be insured. ...
1043724,"MBank Denton County, National Association",Lewisville,TX,% Insured (Estimated),1984,0.000000,Percent,Percent of deposits estimated to be insured. ...

In [15]:
state_name_options_Insured = np.sort(df_Insured['STATE_ABBREVIATION'].unique())
state_name_options_Insured

array(['AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'FM',
       'GA', 'GU', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH',
       'NJ', 'NM', 'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC',
       'SD', 'TN', 'TX', 'UT', 'VA', 'VI', 'VT', 'WA', 'WI', 'WV', 'WY'],
      dtype=object)

In [20]:
filtered_df_state_Insured = df_Insured[df_Insured['STATE_ABBREVIATION'] == 'AK']
filtered_df_state_Insured

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
11636,Northrim Bank,Anchorage,AK,% Insured (Estimated),2020,0.567694,Percent,Percent of deposits estimated to be insured. ...
32461,First National Bank Alaska,Anchorage,AK,% Insured (Estimated),2013,0.868581,Percent,Percent of deposits estimated to be insured. ...
38672,"Home Savings Bank, F.S.B.",Anchorage,AK,% Insured (Estimated),1984,0.000000,Percent,Percent of deposits estimated to be insured. ...
38677,"Home Savings Bank, F.S.B.",Anchorage,AK,% Insured (Estimated),1985,0.000000,Percent,Percent of deposits estimated to be insured. ...
47054,Mt. McKinley Bank,Fairbanks,AK,% Insured (Estimated),2004,0.000000,Percent,Percent of deposits estimated to be insured. ...
...,...,...,...,...,...,...,...,...
1024449,Northrim Bank,Anchorage,AK,% Insured (Estimated),2017,0.570882,Percent,Percent of deposits estimated to be insured. ...
1033068,Northrim Bank,Anchorage,AK,% Insured (Estimated),2003,0.000000,Percent,Percent of deposits estimated to be insured. ...
1034547,Security National Bank,Anchorage,AK,% Insured (Estimated),1985,0.000000,Percent,Percent of deposits estimated to be insured. ...
1039734,First Bank,Ketchikan,AK,% Insured (Estimated),2008,0.639313,Percent,Percent of deposits estimated to be insured. ...
1039739,First Bank,Ketchikan,AK,% Insured (Estimated),2009,0.749973,Percent,Percent of deposits estimated to be insured. ...

In [21]:
city_name_options_Insured = np.sort(filtered_df_state_Insured['CITY'].unique())
filtered_df_city_Insured = filtered_df_state_Insured[filtered_df_state_Insured['CITY'] == 'Anchorage']
filtered_df_city_Insured

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
11636,Northrim Bank,Anchorage,AK,% Insured (Estimated),2020,0.567694,Percent,Percent of deposits estimated to be insured. ...
32461,First National Bank Alaska,Anchorage,AK,% Insured (Estimated),2013,0.868581,Percent,Percent of deposits estimated to be insured. ...
38672,"Home Savings Bank, F.S.B.",Anchorage,AK,% Insured (Estimated),1984,0.000000,Percent,Percent of deposits estimated to be insured. ...
38677,"Home Savings Bank, F.S.B.",Anchorage,AK,% Insured (Estimated),1985,0.000000,Percent,Percent of deposits estimated to be insured. ...
53244,Northrim Bank,Anchorage,AK,% Insured (Estimated),1999,0.000000,Percent,Percent of deposits estimated to be insured. ...
...,...,...,...,...,...,...,...,...
1024439,Northrim Bank,Anchorage,AK,% Insured (Estimated),2015,0.630248,Percent,Percent of deposits estimated to be insured. ...
1024444,Northrim Bank,Anchorage,AK,% Insured (Estimated),2016,0.611988,Percent,Percent of deposits estimated to be insured. ...
1024449,Northrim Bank,Anchorage,AK,% Insured (Estimated),2017,0.570882,Percent,Percent of deposits estimated to be insured. ...
1033068,Northrim Bank,Anchorage,AK,% Insured (Estimated),2003,0.000000,Percent,Percent of deposits estimated to be insured. ...
1034547,Security National Bank,Anchorage,AK,% Insured (Estimated),1985,0.000000,Percent,Percent of deposits estimated to be insured. ...

In [18]:
year_options_Insured = np.sort(filtered_df_city_Insured['YEAR'].unique())
filtered_year_df_Insured = filtered_df_city_Insured[filtered_df_city_Insured['YEAR'] == 1984]
filtered_year_df_Insured

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
567829,Crossroads Bank,Yoakum,TX,% Insured (Estimated),1984,0.0,Percent,Percent of deposits estimated to be insured. ...
1038048,The Yoakum National Bank,Yoakum,TX,% Insured (Estimated),1984,0.0,Percent,Percent of deposits estimated to be insured. ...

In [19]:
df_top10 = filtered_year_df_Insured['VALUE'].nlargest(10).reset_index()
df_top10

     index  VALUE
0   567829    0.0
1  1038048    0.0