In [10]:
import streamlit as st
import pandas as pd
import altair as alt

In [3]:
conn = st.connection("snowflake")

QUALIFIED_TABLE_NAME = "FROSTY_SAMPLE.CYBERSYN_FINANCIAL.FINANCIAL_ENTITY_ANNUAL_TIME_SERIES"

2024-03-31 13:00:17.553
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run c:\Users\vksk0\anaconda3\envs\streamlit\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [4]:
df = conn.query(f"SELECT * FROM {QUALIFIED_TABLE_NAME}")

2024-03-31 13:01:23.296 No runtime found, using MemoryCacheStorageManager
2024-03-31 13:01:23.299 No runtime found, using MemoryCacheStorageManager

In [6]:
df

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
0,Bank of Gibson City,Gibson City,IL,Total Assets,2007,6.168200e+07,USD,The sum of all assets owned by the institution...
1,Bank of Gibson City,Gibson City,IL,Total deposits,2007,5.143100e+07,USD,The sum of all deposits including demand depos...
2,Bank of Gibson City,Gibson City,IL,% Insured (Estimated),2007,8.518382e-01,Percent,Percent of deposits estimated to be insured. ...
3,Bank of Gibson City,Gibson City,IL,All Real Estate Loans,2007,1.543300e+07,USD,"Loans secured primarily by real estate, whethe..."
4,Bank of Gibson City,Gibson City,IL,Total Securities,2007,2.371700e+07,USD,Total securities: the sum of held-to-maturity ...
...,...,...,...,...,...,...,...,...
1043212,Itasca Bank & Trust Co.,Itasca,IL,% Insured (Estimated),2020,7.098698e-01,Percent,Percent of deposits estimated to be insured. ...
1043213,Itasca Bank & Trust Co.,Itasca,IL,All Real Estate Loans,2020,2.549730e+08,USD,"Loans secured primarily by real estate, whethe..."
1043214,Itasca Bank & Trust Co.,Itasca,IL,Total Securities,2020,1.854260e+08,USD,Total securities: the sum of held-to-maturity ...
1043215,Itasca Bank & Trust Co.,Itasca,IL,Total Assets,2021,7.348250e+08,USD,The sum of all assets owned by the institution...
1043216,Itasca Bank & Trust Co.,Itasca,IL,Total deposits,2021,6.674140e+08,USD,The sum of all deposits including demand depos...

In [5]:
df_total = df[df['VARIABLE_NAME'].str.contains('Total Assets')]
df_total

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
0,Bank of Gibson City,Gibson City,IL,Total Assets,2007,61682000.0,USD,The sum of all assets owned by the institution...
5,Bank of Gibson City,Gibson City,IL,Total Assets,2008,66816000.0,USD,The sum of all assets owned by the institution...
10,"Terrabank, National Association",Miami,FL,Total Assets,1998,109013000.0,USD,The sum of all assets owned by the institution...
15,"Terrabank, National Association",Miami,FL,Total Assets,1999,136060000.0,USD,The sum of all assets owned by the institution...
20,Blue Grass Savings Bank,Blue Grass,IA,Total Assets,1997,88839000.0,USD,The sum of all assets owned by the institution...
...,...,...,...,...,...,...,...,...
1043199,Farmers and Merchants Bank,Maysville,OK,Total Assets,1986,20833000.0,USD,The sum of all assets owned by the institution...
1043204,Farmers and Merchants Bank,Maysville,OK,Total Assets,1987,45001000.0,USD,The sum of all assets owned by the institution...
1043209,Peoples Bank,Clifton,TN,Total Assets,1994,37308000.0,USD,The sum of all assets owned by the institution...
1043210,Itasca Bank & Trust Co.,Itasca,IL,Total Assets,2020,692458000.0,USD,The sum of all assets owned by the institution...
1043215,Itasca Bank & Trust Co.,Itasca,IL,Total Assets,2021,734825000.0,USD,The sum of all assets owned by the institution...

In [9]:
filtered_df_city = df_total[df_total['CITY'] == 'Miami'].sort_values(by=['YEAR'], axis=0)
filtered_df_city

,ENTITY_NAME,CITY,STATE_ABBREVIATION,VARIABLE_NAME,YEAR,VALUE,UNIT,DEFINITION
867867,Orange State Bank,Miami,FL,Total Assets,1984,9.376000e+06,USD,The sum of all assets owned by the institution...
745074,AmeriFirst Federal Savings Bank,Miami,FL,Total Assets,1984,3.985690e+09,USD,The sum of all assets owned by the institution...
975025,Ocean Bank,Miami,FL,Total Assets,1984,2.504680e+08,USD,The sum of all assets owned by the institution...
30577,"Newtek Bank, National Association",Miami,FL,Total Assets,1984,7.580900e+07,USD,The sum of all assets owned by the institution...
595677,"Peoples National Bank of Commerce, Miami",Miami,FL,Total Assets,1984,1.772600e+07,USD,The sum of all assets owned by the institution...
...,...,...,...,...,...,...,...,...
298499,International Finance Bank,Miami,FL,Total Assets,2023,1.049917e+09,USD,The sum of all assets owned by the institution...
468664,Pacific National Bank,Miami,FL,Total Assets,2023,1.216080e+09,USD,The sum of all assets owned by the institution...
724825,The First National Bank and Trust Company of M...,Miami,OK,Total Assets,2023,2.145590e+08,USD,The sum of all assets owned by the institution...
814511,Banesco USA,Miami,FL,Total Assets,2023,3.808125e+09,USD,The sum of all assets owned by the institution...
794052,"Newtek Bank, National Association",Miami,FL,Total Assets,2023,6.608880e+08,USD,The sum of all assets owned by the institution...

In [13]:
timeline_chart = alt.Chart( 
    df_total
    ).mark_area( 
        line={'color':'darkgreen'},
        interpolate='basis',
        color=alt.Gradient(
            gradient='linear',
            stops=[
                alt.GradientStop(color='white', offset=0),
                alt.GradientStop(color='darkgreen', offset=1)
                ],
            x1=1,
            x2=1,
            y1=1,
            y2=0
            )
    ).encode( # https://altair-viz.github.io/user_guide/encodings/index.html#encoding-data-types
        x=alt.X('YEAR', title=''),
        y=alt.Y('VALUE', title='êµ¬ë§¤ ê±´ ìˆ˜')
    ).properties(
        height=300
    ).interactive()
    
timeline_chart

MaxRowsError: The number of rows in your dataset is greater than the maximum allowed (5000).

Try enabling the VegaFusion data transformer which raises this limit by pre-evaluating data
transformations in Python.
    >> import altair as alt
    >> alt.data_transformers.enable("vegafusion")

Or, see https://altair-viz.github.io/user_guide/large_datasets.html for additional information
on how to plot large datasets.

alt.Chart(...)